image:
  repository: quay.io/yuvipanda/cryptnono
  tag: set-by-chartpress
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

containerSecurityContext:
  privileged: true
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000



nodeSelector: {}

tolerations:
  # We want to run *everywhere* by default, regardless of any taints
  - operator: "Exists"
    effect: "NoSchedule"

affinity: {}

# https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/
priorityClassName: ""

fetchKernelHeaders:
  resources: {}
  image:
    # Built from https://github.com/iovisor/kubectl-trace/
    # We rebuild it ourselves rather than use upstream built image, purely
    # so we can get ARM support in these images
    name: quay.io/yuvipanda/fetch-kernel-headers
    tag: set-by-chartpress

# Enable and configure various killers we have
detectors:
  execwhacker:
    debug: false
    enabled: true
    resources: {}
    configs: {}
    # Optional environment variables
    env: {}
    metrics:
      enabled: false
      port: 12121
      # Add prometheus annotations to the pods
      prometheusScrape: true
    threadpoolSize: 10
    # Host absolute path to containerd.sock
    containerdHostPath:
    # Host absolute path to docker.sock
    dockerHostPath:
  monero:
    enabled: true
    resources: {}
  tcpflowkiller:
    enabled: false
    # bannedIpv4ConfigMaps should reference ConfigMap keys, where the values is
    # the content of text files listing banned IPs, which can be created for
    # example by doing:
    #
    #     kubectl create configmap my-configmap-name --from-file=filename-with-banned-ips.txt
    #
    bannedIpv4ConfigMaps: []
      # - my-configmap-name: filename-with-banned-ips.txt
    #
    # Passthrough configuration of traitlet based Python classes
    config:
      FlowKiller:
        # banned_ipv4_file_globs is by default configured by the Helm chart to
        # include /ban_config/, the destination where ConfigMap's referenced by
        # tcpflowkiller.bannedIpv4ConfigMaps are mounted
        banned_ipv4_file_globs:
          - "/ban-config/*"
        # log_connects: false
        # log_container_info: true
        # lookback_duration_seconds: 30
        # unique_destinations_threshold: 15
    # Optional environment variables
    env: {}
    resources: {}
    # Host absolute path to containerd.sock
    containerdHostPath:
    # Host absolute path to docker.sock
    dockerHostPath:
    # Metrics aren't implemented
    # https://github.com/cryptnono/cryptnono/issues/50
    metrics:
      enabled: false
      port: 12121
      # Add prometheus annotations to the pods
      prometheusScrape: true
