image:
  repository: quay.io/yuvipanda/cryptnono
  tag: set-by-chartpress
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

containerSecurityContext:
  privileged: true
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000



nodeSelector: {}

tolerations:
  # We want to run *everywhere* by default, regardless of any taints
  - operator: "Exists"
    effect: "NoSchedule"

affinity: {}

# https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/
priorityClassName: ""

fetchKernelHeaders:
  resources: {}
  image:
    # Built from https://github.com/iovisor/kubectl-trace/
    # We rebuild it ourselves rather than use upstream built image, purely
    # so we can get ARM support in these images
    name: quay.io/yuvipanda/fetch-kernel-headers
    tag: set-by-chartpress

# Enable and configure various killers we have
detectors:
  execwhacker:
    debug: false
    enabled: true
    resources: {}
    configs: {}
    # Optional environment variables
    env: {}
    metrics:
      enabled: false
      port: 12121
      # Add prometheus annotations to the pods
      prometheusScrape: true
  monero:
    enabled: true
    resources: {}
