# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
#
name: Test

# Trigger the workflow on pushed tags or commits to main branch.
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
    tags:
      - "**"

jobs:
  test:
    runs-on: "${{ matrix.runs-on }}"
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-22.04
          - runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install -r dev-requirements.txt
          pip list

      - name: Build image
        run: |
          docker build -t cryptnono:test .

      - name: Run image
        run: |
          docker run -d --name execwhacker \
            --privileged \
            --pid=host \
            -v /usr/src:/usr/src:ro \
            -v /sys:/sys:ro \
            -v /lib/modules:/lib/modules:ro \
            -v $PWD/example:/example \
            -p12121 \
            cryptnono:test \
            /scripts/execwhacker.py \
            --config /example/config.json \
            --scan-existing 10 \
            --serve-metrics-port 12121

          docker run -d --name tcpflowkiller \
            --privileged \
            --pid=host \
            -v /usr/src:/usr/src:ro \
            -v /sys:/sys:ro \
            -v /lib/modules:/lib/modules:ro \
            -v $PWD/example:/example \
            -p12122 \
            cryptnono:test \
            /scripts/flowkiller.py \
            --config /example/flowkiller_config.json

          sleep 10
          docker logs execwhacker
          docker logs tcpflowkiller

      - name: Build self-changing test binary
        run: |
          make
        working-directory: tests/resources

      - name: Run tests
        run: |
          export EXECWHACKER_METRICS_PORT=$(docker inspect --format='{{ (index (index .NetworkSettings.Ports "12121/tcp") 0).HostPort }}' execwhacker)
          export TCPFLOWKILLER_METRICS_PORT=$(docker inspect --format='{{ (index (index .NetworkSettings.Ports "12122/tcp") 0).HostPort }}' tcpflowkiller)
          python -mpytest --verbose --color=yes --durations=10 tests/

      - name: Get logs so we can check tests behaved correctly
        if: always()
        run: |
          docker logs execwhacker
          docker logs tcpflowkiller

  test-chart:
    runs-on: ubuntu-24.04
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        include:
          - k3s-channel: latest
          - k3s-channel: v1.31

    steps:
      - uses: actions/checkout@v6
        with:
          # chartpress requires the full history
          fetch-depth: 0
          # We vendor kubectl-trace as a submodule to build the fetch-kernel-headers image
          submodules: recursive

      - name: Generate values.schema.json from values.schema.yaml
        run: yq -o json values.schema.yaml > values.schema.json
        working-directory: helm-chart

      - name: Start a k8s cluster
        uses: jupyterhub/action-k3s-helm@v4
        with:
          k3s-channel: ${{ matrix.k3s-channel }}
          metrics-enabled: false
          traefik-enabled: false
          docker-enabled: true

      # Build our images if needed and update values.yaml with the tags
      - name: Install and run chartpress
        run: |
          pip install -r dev-requirements.txt
          chartpress
        env:
          DOCKER_BUILDKIT: "1"

      # Validate rendered helm templates against the k8s api-server
      - name: Helm template --validate (with lint and validate config)
        run: |
          helm template --validate cryptnono ./helm-chart \
              --values ci/dev-config.yaml \
              --values ci/lint-and-validate-values.yaml

      - name: Install local chart
        run: |
          helm upgrade --install cryptnono ./helm-chart \
              --values ci/dev-config.yaml

      - name: Await local chart install
        uses: jupyterhub/action-k8s-await-workloads@v3
        with:
          timeout: 600
          max-restarts: 0

      - name: Kubernetes namespace report
        uses: jupyterhub/action-k8s-namespace-report@v1
        if: always()
        with:
          important-workloads: daemonset/cryptnono
