# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
#
name: Test

# Trigger the workflow on pushed tags or commits to main branch.
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
    tags:
      - "**"

jobs:
  test:
    runs-on: "${{ matrix.runs-on }}"
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: ubuntu-22.04
          - runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install -r dev-requirements.txt
          pip list

      - name: Build image
        run: |
          docker build -t cryptnono:test .

      - name: Run image
        run: |
          docker run -d --name cryptnono \
            --privileged \
            --pid=host \
            -v /usr/src:/usr/src:ro \
            -v /sys:/sys:ro \
            -v /lib/modules:/lib/modules:ro \
            -v $PWD/example:/example \
            -p12121 \
            cryptnono:test \
            /scripts/execwhacker.py \
            --config /example/config.json \
            --scan-existing 10 \
            --serve-metrics-port 12121

          docker run -d --name flowkiller \
            --privileged \
            --pid=host \
            -v /usr/src:/usr/src:ro \
            -v /sys:/sys:ro \
            -v /lib/modules:/lib/modules:ro \
            -v $PWD/example:/example \
            -p12122 \
            cryptnono:test \
            /scripts/flowkiller.py \
            --config /example/flowkiller_config.json

          sleep 10
          docker logs cryptnono
          docker logs flowkiller

      - name: Build self-changing test binary
        run: |
          make
        working-directory: tests/resources

      - name: Run tests
        run: |
          export CRYPTNONO_METRICS_PORT=$(docker inspect --format='{{ (index (index .NetworkSettings.Ports "12121/tcp") 0).HostPort }}' cryptnono)
          export FLOWKILLER_METRICS_PORT=$(docker inspect --format='{{ (index (index .NetworkSettings.Ports "12122/tcp") 0).HostPort }}' flowkiller)
          python -mpytest --verbose --color=yes --durations=10 tests/

      - name: Get logs so we can check tests behaved correctly
        if: always()
        run: |
          docker logs cryptnono
          docker logs flowkiller
